.header
{
  overflow-x: hidden;
  width:100%;
  height:100px;

  background-color: red;
}

#body
{
  overflow-x: hidden;
  margin:0px;
  padding:0px:
  width:100%;
  height:450px;
  background-color: white;
}

#tab
{

  width:100%;
  height:400px;
  background-color: white;
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
  padding-top: 120px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

}

#date
{
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 18px;
}
#mode
{

  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 18px;
}
#amount
{
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 18px;
}
#vat
{

  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
  margin-bottom:10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 18px;
}
#btn
{

 margin-left: 20px;
 margin-top: 10px;
height: 40px;
width: 150px;
background-color: red;
color: white;
font-size: 18px;
border: 1px solid;
}

.footer
{
  overflow-x: hidden;
  margin:0px;
  padding:0px:
  width:100%
  height:100px;
  background-color: red;

}
h1
{

  font-family: fantasy;
  font-size:200%;
  color: white;

  padding-left: 550px;

}
.footer a link
{
  padding-left: 100px;
}
.footer p
{

  display: inline;
}
.footer a
{
  color: white;
  text-decoration: none;
}
.footer dl dd
{
  float:left;
}
.footer .tag
{
  padding-left: 950px;
}
.footer .copyright
{

  padding-top:50px;
  text-align: center;
  color: white;
}


.card {
    background: red;
    padding: 1px 25px 30px;
    margin: 10px auto 25px;
    margin-top: 15%x;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 25px;
    width: 250px;
}

.login_box{
    background:#f7f7f7;
    border:3px solid #F4F4F4;
    padding-left: 15px;
    margin-bottom:25px;
    border-radius: 10px;
    }

.input_title{
  color:white;
  padding-left:5px;
  margin-bottom: 5px;
}
.placeholder{
  float:left;
  color:white;
  padding-left:3px;
  margin-bottom: 1px;
}
.form-signin #inputName,
.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 30px;
    font-size: 15px;
}
.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card1 {
  background: rgb(255,0,0);
  padding: 1px 25px 30px;
  margin: 10px auto 25px;
  margin-top: 15%x;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 25px;
  width: 250px;
}
.login_title{
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 100;
  color:white;
}

.loginbutton{
  margin-bottom: 2px;
  background-color: red;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  height: 40px;
  width: 250px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.joinbutton{
  margin-top:7px;
  background-color: red;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  height: 40px;
  width: 250px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
