html {
background-color:white;
}
h1{
color:maroon;
}
h4{
color:green;
}
h5{
color:red;
}
h3{
color:brown;
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin: 30px auto; 
	padding: 30px;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
p{
text-align:justify;
}